
.page-titles:before {
    content: "";
    height: 2px;
    width: 100px;
    margin: 0 20px 8px 0;
    background: #999;
    display: inline-block;
}

.page-titles:after {
    content: "";
    height: 2px;
    width: 100px;
    margin: 0 0 8px 20px;
    background: #999;
    display: inline-block;
}



/* liste d'utilisateur */
.user-table {
    width: 90%;
    margin: auto;
 }

 .trash-user-container h2 {
    width: fit-content;
    border: 2px solid gray;
    padding: 4px 10px;
    border-radius: 6px;
 }

.success-msg {
    background-color: #bdf9bd;
    color: green;
    min-width: 250px;
    padding: 4px 20px;
    font-size: larger;
    display: flex;
    justify-content: space-between;
    border-radius: 7px;
}

.success__cross-btn {
    cursor: pointer;
}