
.page-titles:before {
    content: "";
    height: 2px;
    width: 100px;
    margin: 0 20px 8px 0;
    background: #999;
    display: inline-block;
}

.page-titles:after {
    content: "";
    height: 2px;
    width: 100px;
    margin: 0 0 8px 20px;
    background: #999;
    display: inline-block;
}